services:
  backend:
    build:
      context: ./backend
    ports:
      - "8000:8000"
    volumes:
      # Mount your code and alembic directories for live-reloading
      - ./backend/app:/app/app
      - ./backend/alembic:/app/alembic
      - ./backend/alembic.ini:/app/alembic.ini
    env_file:
      - .env  # Use the .env file to load all variables
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    depends_on:
      - db

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env  # Also use the .env file for the database
    ports:
      - "5432:5432"

volumes:
  postgres_data: